 /* Задать шрифт и размер для тела всей страницы */
   body {
       font-family: 'Arial', sans-serif; /* Укажите нужный шрифт */
       font-size: 16px; 16px; 20px                  /* Укажите нужный размер шрифта */
   }
 
/* Задать поля для основного содержимого страницы */
   .wy-nav-content {
       margin: 20px; /* Установите нужные значения для полей */
   }